$border-color: #949494;
$link-color: #68b650;
$font-color: #3a3a3a;
$font-family: Helvetica, arial, sans-serif;
$bbutton-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-font-size: 18px;
$bbutton-color: #CCC;
$simple-shadow: rgba(255,255,255,0.25);
$bbutton-radius: 3px;
$top-margin: 0px;
$clear-border: rgba(0,0,0, 0.5);
$person-border-color: rgba(0,0,0,0.15);
