.person.row-fluid
  .span12
    .row-fluid
      .span2
        %table.image{:style => "width:194px;"}
          %tr
            %td{:align => "center", :style => "height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"}
              %a{:target => "_blank", :href => "https://picasaweb.google.com/112595915308191901222/StephenStackpole?authuser=0&feat=embedwebsite"}
                %img{:height => "160", :src => "https://lh3.googleusercontent.com/-xvRArkySzok/UgBDaRX6K-E/AAAAAAAAAgQ/rZY5O3b29ng/s160-c/StephenStackpole.jpg", :style => "margin:1px 0 0 4px;", :width => "160"}
      .span10.content
        %span content here.

.person.row-fluid
  .span12
    .row-fluid
      .span2
        %table.image{:style => "width:194px;"}
          %tr
            %td{:align => "center", :style => "height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"}
              %a{:target => "_blank", :href => "https://picasaweb.google.com/112595915308191901222/RoseKundert?authuser=0&feat=embedwebsite"}
                %img{:height => "160", :src => "https://lh3.googleusercontent.com/-3gZcAelLpl4/UgBMa7tkhSE/AAAAAAAAAgs/1hynBRsQVSw/s160-c/RoseKundert.jpg", :style => "margin:1px 0 0 4px;", :width => "160"}/
      .span10.content
        %span content here.

.row-fluid.hide
  .span12
    .row-fluid
      .span4 Fluid 6(1)
      .span8 Fluid 6(2)
