/ .clear

%iframe.calendar{:frameborder => "0", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&mode=AGENDA&height=600&wkst=1&bgcolor=%23ffffff&src=17o4j5egphv1jos2scr1h1ba50%40group.calendar.google.com&color=%23B1440E&ctz=America%2FLos_Angeles", :style => " border-width:0 "}
